@keyframes pulsing-ellipsis {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes shimmer-l-to-r {
  0% {
    left: 0;
    transform: translateX(-100%);
  }
  75% {
    left: 100%;
    transform: translateX(0%);
  }
  100% {
    left: 100%;
    transform: translateX(0%);
  }
}
