@import "tailwindcss";
@import "./reset.css";

@theme {
  /**
   * THEME: Discord
   */

  /* === Layout === */
  --navbar-height: 60px;

  /* === Typography === */
  --font-inter: var(--font-inter), sans-serif;

  /* === Base === */
  --color-background: #323339;
  --color-background-light: #292b2f;

  /* === Surface === */
  --color-surface: #2f3136;
  --color-surface-hover: #45464c;
  --color-surface-disabled: #282829;
  --color-surface-light: #3f4248;

  /* === Text === */
  --color-text: #ffffff;
  --color-text-muted: #c2c2c6;
  --color-text-muted-divider: #6a6f78;
  --color-text-disabled: #797979;
  --color-header-secondary: #dfe0e2;
  --color-blockquote-background: #2b2c31;

  /* === Input === */
  --color-input-background: #27282d;
  --color-input-border: #404147;
  --color-input-border-focus: #7bb0f5;

  /* === Borders === */
  --color-border: #43464c;

  /* === Accent & Links === */
  --color-accent: #5865f2;
  --color-accent-disabled: #3d4263;
  --color-accent-link: #8da1fc;

  /* === Status Colors === */
  --color-positive: #43b581;
  --color-positive-disabled: #39524c;
  --color-negative: #f04747;
  --color-negative-disabled: #5b3c41;
  --color-negative-text: #f57976;
  --color-disabled: #73767c;

  /* === Shimmer Loader Colors === */
  --color-skeleton-background: #40434b;
  --color-shimmer-background: rgb(225 225 225 / 8%);
  --color-shimmer-fallback: #494c55;

  /* === Accessibility === */
  --color-accessibility: #5865f2;

  /* === Scrollbar === */
  --color-scrollbar-track: #3d4047;
  --color-scrollbar-thumb: #5c5d65;

  /* === Animation === */
  --animate-pulsing-ellipsis: pulsing-ellipsis 1.4s ease-in-out infinite;
  --animate-shimmer-l-to-r: shimmer-l-to-r 1.4s ease-in-out infinite;

  /**
   * THEME: Caffe Latte (inactive)
   */
  /*
  --color-background: #7a4e32;
  --color-background-light: #e6d7c3;
  --color-surface: #fffdfa;
  --color-surface-dark: #eee7e2;
  --color-text: #1a1a1a;
  --color-text-muted: #595959;
  --color-accent: #7a4e32;
  --color-border: #e1dfdc;
  --color-danger: #a7372e;
  --color-accessibility: #1a1a1a;
  */
}

@import "./base.css";
@import "./utilities.css";
@import "./animations.css";
@import "./tiptap.css";
@import "./markdown.css";
