@import "tailwindcss";
@import "./reset.css";

@theme {
  --color-background: #1b1b1b;
  /* --color-background: #f7f7f7; */
  /* --color-background-hover: #2f31454a; */
  --color-primary: #f7f7f7;
  /* --color-primary: #303030; */
  --color-accent: #5a65ab;
  /* --color-muted: #aaafc3; */
  /* --color-highlight: #6da2ff; */
  --color-border: #353535;
  --color-accessibility: #ffca6d;

  --font-inter: var(--font-inter), sans-serif;

  --spacing-screen-xl: 1280px;

  --navbar-height: 60px;
}

@layer base {
  *:focus-visible {
    @apply outline-accessibility;
  }
}

@import "./utilities.css";
