.markdown-container {
  @apply text-base;
  line-height: 1.75;
}
.markdown-container > *:first-child {
  @apply mt-0;
}

.markdown-container h1 {
  @apply text-xl font-semibold leading-relaxed;
}
.markdown-container h1:not(:first-child) {
  @apply mt-4;
}

.markdown-container a {
  @apply text-accent font-semibold hover:underline;
}

.markdown-container em {
  @apply italic;
}

.markdown-container > ul,
.markdown-container > ol {
  margin: 0.75em 0;
}
.markdown-container ul,
.markdown-container ol {
  padding-left: 1.5em;
}
.markdown-container ul {
  @apply list-disc;
}
.markdown-container ol {
  @apply list-decimal;
}
.markdown-container li {
  margin: 0.25em 0;
}

.markdown-container blockquote {
  @apply border-accent border-l-4 italic;
  padding-left: 1em;
  margin: 0.75em 0;
  background-color: var(--color-blockquote-background);
}
